name: CI (Docker)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - uses: actions/checkout@v3

      # Step 2: Set up Docker Buildx
      - uses: docker/setup-buildx-action@v2

      # Step 3: Build Docker image from docker/ folder
      - run: docker build -t imusim -f docker/Dockerfile .

      # Step 4: Run container
      - run: docker run --rm imusim
